.register {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.titleRegisterWrapper {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1rem;
    color: #fff;
}

.titleRegisterWrapper p {
    font-size: 1.5rem;
}

.btnWrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
}